.idea/
build/

jars/*

!jars/versions/
!jars/run_config/
!jars/.minecraft/assets/log_configs
!jars/.minecraft/assets/indexes/1.8.json
!jars/start.sh
!jars/README.md
!jars/include

*.ipr
*.iws
*.iml
*.class
*.log

.DS_Store
